.localTracks {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
}

.localTracks button {
    margin-left: 1em;
}

#Media {
    flex-grow: 1;
    border: solid;
    border-radius: 5px;
    margin-bottom: 1em;
    display: flex;
}

#Media i {
    margin: auto;
    font-size: xxx-large;
    opacity: 0.25;
}

#Media span {
    margin: auto;
    text-align: center;
}

#Media button {
    font-weight: bold;
}

.disconnectButton {
    padding: 0.5em;
    border: solid;
    border-width: thin;
    border-radius: 5px;
    font-weight: bold;
}

.disconnectButton:disabled {
    opacity: 0.25;
}

.remoteParticipant {
    display: flex;
    margin-bottom: 1em;
}

.remoteParticipant label {
    flex-grow: 1;
}

.remoteParticipant button {
    margin-left: 1em;
}